body {
background: rgb(58,28,113);
background: radial-gradient(circle, rgba(58,28,113,1) 0%, rgba(253,187,45,1) 100%);

   color: #575F7D;
   font-family: 'Lora', serif;
   font-size:  16px;
   font-weight: lighter;
}
h1, h2 {
   font-family: 'Roboto', sans-serif;
}
h1 {
   color: #575F7D;
   font-weight: 900;
   font-size: 32px;
     
} 
h2{ 
 color: #a80f49;
   font-size: 20px; 
   font-weight: 500;
}
a{
font-family: 'Roboto', sans-serif;
text-decoration: none;
color: #645bff;
font-weight: 600;
font-size: 16px;
}
a:hover {
   color: black;
}


.container {
  width: 700px;
  margin: 40px auto;
}


@media (max-width:  760px) {
.container {
  width:  600px;
}
}

@media (max-width:  500px) {
.container {
  width:  400px;
}
}

.card-white {
background: rgb(236,236,229);
background: linear-gradient(90deg, rgba(236,236,229,1) 32%, rgba(235,230,241,1) 67%, rgba(231,217,221,1) 97%);
   padding: 40px;
 box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
border-radius: 4px;
margin: 20px;
text-align: center;
}





.img-circle {
  border-radius: 50%;
}
 


.btn-blue{
background: rgb(253,187,45);
background: linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(58,28,113,1) 100%);
color: white;
  padding: 15px 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  }

.btn-blue:hover {
  background-color: black;
  color: white;
text-transform: uppercase;
transition: 0.5s;
background-size: 200%;
background-position: right;
background-image: linear-gradient( to right, #FDBB2D, #3A1C71, #FDBB2D, )
}

.btn-blue { 
   }


.list-inline {
list-style: none;
padding-left:  0px;
}




.list-inline li {
display: inline;
padding: 30px;
}

#introduction p {
margin-bottom: 40px;
}




 